/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	font-family: sans-serif;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1170px;
}

.clear {
	clear: both;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}