/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules to this files as you see fit! :D
********************************************/

html,
body {
	font-family: "Arial", Sans-Serif;
	font-size: 14px;
	color: #000000;
	background-color: #ffffff;
	margin: 0;
}

header {
	background-color: #66ccff;
	padding-top:7px;
	padding-bottom: 7px;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	width: 1170px;

}

h1 {
	font-size: 2.5em;
	margin: 0 auto;

}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1em;

}

.content {
	margin-bottom: 10px;
}

img {
	border: 5px #cccccc solid;

}

footer {
	background-color: #000000;
	font-size: 1em;
	color: #cccccc;
	font-style: italic;
	padding-top: 7px;

}

.content img {
	margin-bottom: 10px;
	margin-right: 10px;
}

.instructions {
	border: 5px #cccccc solid;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 15px;

}

.clear {
	clear: both;
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #66ccff;
	padding: 10px;

}

.pull-right {
	float: right;

}

.pull-left {
	float: left;
}

/***
* Flexbox Sticky Footer
* Pushes footer to the bottom. Always.
*
* Adapted from:
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}